.diamond {
  position: relative;
  width: 25px;
  height: 25px;
  animation: rotateDiamond 1.5s linear infinite;
}
@keyframes rotateDiamond {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Positions - filling the container */
.circle_top {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle_right {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.circle_bottom {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle_left {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
